.offers {
    margin-bottom: 24px;
}
.offersTitle {
    font-weight: bold;
    font-size: 50px;
    line-height: 1.5;
    text-transform: uppercase;
    text-align: center;
    color: var(--color-secondary-100);
    margin-bottom: 80px;
}
.offersSelect {
    width: 170px;
    height: 48px; 
    border: 1px solid rgba(189, 189, 189, 1);
    border-radius: 15px;
    margin-right: 20px;
}

.btnOffers {
    width: 290px;
    height: 48px;
    color: var(--color-primary-300);
    border-radius: 15px;
    border: none;
    background-color: var(--color-primary-300);
    cursor: pointer;
    color: var(--color-secondary-500);
}
.btnOffers:hover, .btnOffers:focus {
    border: 2px solid #DF4E3C;
    color: var(--color-primary-300);
    background-color: var(--color-secondary-500);
}