.bgSubscription {
    width: 1440px;
    height: 180px;
    background-color: var(--color-primary-100);
    box-shadow: 0px 0px 18px rgba(68, 68, 68, 0.09);
}
.subscriptionContainer {
    display: flex;
}
.subscriptionTitle {
    font-weight: 600;
    font-size: 25px;
    line-height: 1.36;
    color: var(--color-primary-200);
    padding-top: 40px;
    margin-bottom: 20px;
}
.subscriptionText {
    font-weight: 400;
    font-size: 15px;
    line-height: 1.33;
    color: var(--color-primary-200);
    width: 429px;
    height: 40px;
    margin-right: 95px;
}
.subscriptionInput {
    display: flex;
    margin-top: 63px;
    margin-bottom: 63px;
}
.subInput {
    width: 505px;
    height: 54px;
    border: 1px solid #BDBDBD;
    border-radius: 15px;
    padding-left: 16px;
    background-color: transparent;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.33;
    color: var(--color-primary-200);
    margin-right: 20px;
}
.subBtn {
    width: 190px;
    height: 54px;
    border-radius: 15px;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.33;
    border: none;
}
.subBtn:hover, .subBtn:focus {
    border: 2px solid #F8F8F8;
    background-color: transparent;
    color: var(--color-secondary-500);
}